.container {
    overflow: hidden;
}

.div_ldata {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin-top: 0;
    margin-left: 60px;
    margin-right:60px;
    margin-bottom: 20px;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width : 40%;
}

li {
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
}
